<!DOCTYPE html>
<html>
<head>
    <title>FastAPI App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ message }}</h1>
        <form action="/submit" method="post">
            <label for="user_text">Your Text:</label>
            <input type="text" id="user_text" name="user_text">
            
            <label for="font_select">Choose a Font:</label>
            <select id="font_select" name="font_select">
                <option value="block">Block</option>
                <option value="banner">Banner</option>
                <option value="standard">Standard</option>
                <option value="doh">Doh</option>
            </select>
            
            <input type="submit" value="Submit">
        </form>

        {% if ascii_art %}
        <h2>Generated ASCII Art:</h2>
        <pre>{{ ascii_art }}</pre>
        {% endif %}
    </div>
</body>
</html>